In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# School File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"


# Read School Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
school_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [4]:
school_data.columns = ['School_ID', 'School_Name', 'School_Type', 'School_Size', 'School_Budget']

In [5]:
school_data.columns

Index(['School_ID', 'School_Name', 'School_Type', 'School_Size',
       'School_Budget'],
      dtype='object')

In [6]:
school_data.head()

   School_ID            School_Name School_Type  School_Size  School_Budget
0          0      Huang High School    District         2917        1910635
1          1   Figueroa High School    District         2949        1884411
2          2    Shelton High School     Charter         1761        1056600
3          3  Hernandez High School    District         4635        3022020
4          4    Griffin High School     Charter         1468         917500

In [7]:
# Student File to Load (Remember to Change These)
student_data_to_load = "Resources/students_complete.csv"

# Read Student Data File and store into Pandas Data Frames
student_data = pd.read_csv(student_data_to_load)
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
student_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [9]:
student_data.columns = ['Student_ID', 'Student_Name', 'Gender', 'Grade', 'School_Name',
       'Reading_Score', 'Math_Score']

In [10]:
student_data.columns

Index(['Student_ID', 'Student_Name', 'Gender', 'Grade', 'School_Name',
       'Reading_Score', 'Math_Score'],
      dtype='object')

In [11]:
student_data.head()

,Student_ID,Student_Name,Gender,Grade,School_Name,Reading_Score,Math_Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [12]:
# Merge CSV files 
combined_df = pd.merge(school_data, student_data, how='outer', on='School_Name')
combined_df

,School_ID,School_Name,School_Type,School_Size,School_Budget,Student_ID,Student_Name,Gender,Grade,Reading_Score,Math_Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,64,79
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,85,67
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,88,55
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,64,69
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,91,89
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,90,77
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,81,68
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,92,70
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,63,85
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,80,58
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,73,55
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88
...,...,...,...,...,...,...,...,...,...,...,...
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,76,99
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,86,93
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,96,83
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,71,93
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,77,87
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,94,74
39146,14,Thomas High School,Charter,1635,1043130,39146,Michael Carroll,M,9th,69,95
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,88,81
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,89,89
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,82,93
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,80,75
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,84,73
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,98,84
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,80,75
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,91,71
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,92,98
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,79,95
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,79,94
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,87,90
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,85,72
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,89,86
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,70,84
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,94,77
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90,75
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,97,76
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [13]:
# Replace all NaN values with 0 or the new combined dataframe 
# combined_df= combined_df.fillna(0)
# combined_df.head()

In [14]:
# Clean School Names 
# combined_df = combined_df.loc[combined_df['School_Name'] != "?"]
# combined_df.head()

In [15]:
# Clean School IDs
# combined_df = combined_df.loc[combined_df['School_ID'] != "?"]
# combined_df.head()

In [16]:
# Clean School Types
# combined_df = combined_df.loc[combined_df['School_Type'] != "?"]
# combined_df.head()

In [17]:
# Check Clean data 
combined_df.describe()

,School_ID,School_Size,School_Budget,Student_ID,Reading_Score,Math_Score
count,39170.000000,39170.000000,3.917000e+04,39170.000000,39170.00000,39170.000000
mean,6.978172,3332.957110,2.117241e+06,19584.500000,81.87784,78.985371
std,4.444329,1323.914069,8.749987e+05,11307.549359,10.23958,12.309968
min,0.000000,427.000000,2.480870e+05,0.000000,63.00000,55.000000
25%,3.000000,1858.000000,1.081356e+06,9792.250000,73.00000,69.000000
50%,7.000000,2949.000000,1.910635e+06,19584.500000,82.00000,79.000000
75%,11.000000,4635.000000,3.022020e+06,29376.750000,91.00000,89.000000
max,14.000000,4976.000000,3.124928e+06,39169.000000,99.00000,99.000000

In [ ]:
# District Summary


    # Calculate the total budget

    # Calculate the average math score

    # Calculate the average reading score

    # Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

    # Calculate the percentage of students with a passing math score (70 or greater)

    # Calculate the percentage of students with a passing reading score (70 or greater)

    # Create a dataframe to hold the above results

        # Optional: give the displayed data cleaner formatting

In [25]:
# Groupby school names 
schools_df = combined_df.groupby("School_Name")
schools_df.head()

,School_ID,School_Name,School_Type,School_Size,School_Budget,Student_ID,Student_Name,Gender,Grade,Reading_Score,Math_Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
2917,1,Figueroa High School,District,2949,1884411,2917,Amy Jacobs,F,10th,85,87
2918,1,Figueroa High School,District,2949,1884411,2918,Nathan Campbell,M,12th,97,84
2919,1,Figueroa High School,District,2949,1884411,2919,Randall Stewart,M,12th,67,77
2920,1,Figueroa High School,District,2949,1884411,2920,Jennifer Brown,F,9th,97,64
2921,1,Figueroa High School,District,2949,1884411,2921,Denise Lopez,F,10th,79,64
5866,2,Shelton High School,Charter,1761,1056600,5866,Jamie Montgomery,F,12th,70,91
5867,2,Shelton High School,Charter,1761,1056600,5867,Shannon Phillips,F,10th,84,71
5868,2,Shelton High School,Charter,1761,1056600,5868,Todd Barber,M,11th,95,99
5869,2,Shelton High School,Charter,1761,1056600,5869,Desiree King,F,12th,76,95
5870,2,Shelton High School,Charter,1761,1056600,5870,Melissa Roberts,F,10th,71,82
7627,3,Hernandez High School,District,4635,3022020,7627,Russell Davis,M,10th,70,88
7628,3,Hernandez High School,District,4635,3022020,7628,Timothy Walker,M,12th,97,93
7629,3,Hernandez High School,District,4635,3022020,7629,Katie Johnston,F,12th,83,81
7630,3,Hernandez High School,District,4635,3022020,7630,Joann Oconnell,F,12th,77,91
7631,3,Hernandez High School,District,4635,3022020,7631,Sarah Alexander,F,10th,84,93
12262,4,Griffin High School,Charter,1468,917500,12262,Heather Wright,F,11th,79,68
12263,4,Griffin High School,Charter,1468,917500,12263,Elizabeth Goodwin,F,10th,91,81
12264,4,Griffin High School,Charter,1468,917500,12264,Michelle Wong,F,9th,78,89
12265,4,Griffin High School,Charter,1468,917500,12265,Scott Roth MD,M,11th,91,85
12266,4,Griffin High School,Charter,1468,917500,12266,Billy Wilson,M,12th,76,83
13730,5,Wilson High School,Charter,2283,1319574,13730,Kelli Anderson,F,10th,84,71
13731,5,Wilson High School,Charter,2283,1319574,13731,Russell Ramirez,M,10th,72,87
13732,5,Wilson High School,Charter,2283,1319574,13732,Eric Butler,M,10th,97,82
13733,5,Wilson High School,Charter,2283,1319574,13733,Warren Kerr,M,11th,93,68
13734,5,Wilson High School,Charter,2283,1319574,13734,Gail Hall,F,9th,79,72
...,...,...,...,...,...,...,...,...,...,...,...
23274,9,Pena High School,Charter,962,585858,23274,Alec Davis,M,9th,91,75
23275,9,Pena High School,Charter,962,585858,23275,Michael Meyer,M,10th,94,76
23276,9,Pena High School,Charter,962,585858,23276,Donald Gutierrez,M,11th,98,91
23277,9,Pena High School,Charter,962,585858,23277,Travis Chavez,M,11th,78,71
23278,9,Pena High School,Charter,962,585858,23278,Sheena Ball,F,12th,87,92
24236,10,Wright High School,Charter,1800,1049400,24236,Aaron Johnson,M,10th,89,72
24237,10,Wright High School,Charter,1800,1049400,24237,Kimberly Hamilton,F,10th,84,93
24238,10,Wright High School,Charter,1800,1049400,24238,Ashley Johns,F,10th,88,88
24239,10,Wright High School,Charter,1800,1049400,24239,Stephanie Donovan,F,10th,75,84
24240,10,Wright High School,Charter,1800,1049400,24240,Cynthia Guzman,F,11th,93,82
26036,11,Rodriguez High School,District,3999,2547363,26036,Sherry Jenkins,F,11th,74,81
26037,11,Rodriguez High School,District,3999,2547363,26037,Kimberly Calderon,F,10th,80,86
26038,11,Rodriguez High School,District,3999,2547363,26038,William Brady,M,11th,97,62
26039,11,Rodriguez High School,District,3999,2547363,26039,Jacob Padilla,M,11th,79,73
26040,11,Rodriguez High School,District,3999,2547363,26040,Paula Maldonado,F,10th,96,92
30035,12,Johnson High School,District,4761,3094650,30035,Lisa Casey,F,12th,87,87
30036,12,Johnson High School,District,4761,3094650,30036,Jessica Lopez,F,9th,98,62
30037,12,Johnson High School,District,4761,3094650,30037,Anna Wilkins,F,11th,89,77
30038,12,Johnson High School,District,4761,3094650,30038,Andrew Smith,M,9th,66,85
30039,12,Johnson High School,District,4761,3094650,30039,Robert Allison,M,11th,63,85
34796,13,Ford High School,District,2739,1763916,34796,Michael Mercado,M,9th,66,94
34797,13,Ford High School,District,2739,1763916,34797,Stephen Wolf,M,11th,68,63
34798,13,Ford High School,District,2739,1763916,34798,Bonnie Hughes,F,12th,73,59
34799,13,Ford High School,District,2739,1763916,34799,Melissa Smith,F,11th,88,58
34800,13,Ford High School,District,2739,1763916,34800,Brian Mitchell,M,10th,96,55
37535,14,Thomas High School,Charter,1635,1043130,37535,Norma Mata,F,10th,76,76
37536,14,Thomas High School,Charter,1635,1043130,37536,Cody Miller,M,11th,84,82
37537,14,Thomas High School,Charter,1635,1043130,37537,Erik Snyder,M,9th,80,90
37538,14,Thomas High School,Charter,1635,1043130,37538,Tanya Martinez,F,9th,71,69
37539,14,Thomas High School,Charter,1635,1043130,37539,Noah Erickson,M,9th,86,76

In [26]:
 # Calculate the total number of schools
schools_count = schools_df['School_ID'].count()
schools_count

School_Name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: School_ID, dtype: int64

In [27]:
schools_count.describe()

count      15.000000
mean     2611.333333
std      1420.915282
min       427.000000
25%      1698.000000
50%      2283.000000
75%      3474.000000
max      4976.000000
Name: School_ID, dtype: float64

In [30]:
# Calculate the total number of students
student_totals = schools_df("School_ID")["School_size"].count()
student_totals

TypeError: 'DataFrameGroupBy' object is not callable